body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(cuisine-background.jpg) no-repeat center center fixed;
    background-size:cover;
}

.wrapper {
    margin-top: 30px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px black;
}

.wrapper h1 {
    text-align: center;
    
}

.wrapper input {
    border: solid white 1.5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: white;


}

.wrapper .input-box {
    position: relative;
    width: 100%;
   
}

.input-box svg {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: white;
   
}

.input-box ::placeholder {
    color: rgb(111, 111, 111);
}

.btnWrapper {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

button {
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin-top: 40px;

}

button:hover {
    background-color: rgb(199, 199, 199);
}

p {
    margin: 0;
    margin-top: 20px;
    color: black
}

.logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border: solid black 10px;
    border-radius: 10px;
}

.logo-div {
    display: flex;
    justify-content: center;
}